// Body
$body-bg: #f8fafc;

$primary: rebeccapurple;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$navbar-light-brand-color: #ffffff;
$navbar-light-brand-hover-color: #ccccf6;
$navbar-light-color: #ffffff;
$navbar-light-hover-color: #ccccf6;
$navbar-light-active-color: #ccccf6;
$card-border-color: $primary;

.card {
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
}

body {
 background-image: url('../pictures/background.png');
 background-repeat: repeat-y;
 background-position: 0 0;
 background-size: cover;
}

.profile-picture {
    background-image: url('../pictures/profile.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 320px;
}
